In [48]:
import pandas as pd

decpath = 'https://media.githubusercontent.com/media/LondonEnergyMap/cleandata/master/dec/dec_ldn.csv'
# epcpath = 'https://media.githubusercontent.com/media/LondonEnergyMap/cleandata/master/epc/nondomestic/epcldn.csv'

# read csv into dataframe
dfdec = pd.read_csv(decpath)
# dfepc = pd.read_csv(epcpath)

In [49]:
dfdec.columns

Index(['Unnamed: 0', 'key', 'add1', 'add2', 'add3', 'pcode', 'bref',
       'current_opr', 'yr1_opr', 'yr2_op2', 'oprband', 'elecco2', 'heatco2',
       'renewco2', 'prop_type', 'insp_date', 'localauth_code', 'constit_code',
       'county', 'lodge_date', 'benchmark', 'mainheatingfuel', 'otherfuel',
       'special', 'renewables', 'tfa', 'annual_thermalfuel', 'typ_thermalfuel',
       'annual_elec', 'typ_elec', 'renew_thermalfuel', 'renew_elec',
       'yr1_elecco2', 'yr2_elecco2', 'yr1_heatingco2', 'yr2_heatingco2',
       'yr1_renewco2', 'yr2_renewco2', 'ac', 'ac_kw', 'ac_estimate', 'ac_insp',
       'modes', 'category', 'addfull', 'localauth', 'constit', 'certificateh'],
      dtype='object')

In [50]:
dfdec = dfdec[(dfdec.annual_thermalfuel != 0) & (dfdec.annual_elec != 0)]

In [71]:
keepcols = ['add1',
            'add2',
            'add3',
            'pcode',
#             'bref',
            'insp_date',
            'benchmark',
            'mainheatingfuel',
            'tfa',
            'annual_thermalfuel',
            'typ_thermalfuel',
            'annual_elec',            
            'typ_elec',
            'renew_thermalfuel',
            'renew_elec',            
            'yr1_elecco2',            
            'modes',
            'localauth']

# keepcols = ['benchmark',
#             'mainheatingfuel',
#             'tfa',
#             'annual_thermalfuel',
#             'typ_thermalfuel',
#             'annual_elec',
#             'typ_elec',
#             'modes']

df = dfdec[keepcols]


df.head()

df[(df.annual_elec == 1)]

,add1,add2,add3,pcode,insp_date,benchmark,mainheatingfuel,tfa,annual_thermalfuel,typ_thermalfuel,annual_elec,typ_elec,renew_thermalfuel,renew_elec,yr1_elecco2,modes,localauth
2667,NaN,St. John the Baptist C of E Primary School,Crondall Street,N1 6JG,2016-07-13,Schools And Seasonal Public Buildings,Natural Gas,2715.5,163.0,133.0,1.0,40.0,0.0,0.0,2.0,Heating and Natural Ventilation,Hackney
3395,NaN,Pyrgo Priory Primary School,Settle Road,RM3 9RT,2016-06-27,Schools And Seasonal Public Buildings,Natural Gas,2490.0,87.0,132.0,1.0,40.0,0.0,0.0,3.0,Heating and Natural Ventilation,Havering
4021,NaN,Stockwell Primary School,Stockwell Road,SW9 9TG,2011-06-16,Schools And Seasonal Public Buildings,Natural Gas,2873.0,212.0,147.0,1.0,40.0,0.0,0.0,75.0,Heating and Natural Ventilation,Lambeth

In [52]:
rename_dict = {'annual_thermalfuel': 'hcons',
              'typ_thermalfuel': 'hcons_typ',
              'annual_elec': 'econs',
              'typ_elec': 'econs_typ',
              'mainheatingfuel': 'mheat'}

df.rename(columns=rename_dict, inplace=True)

/Users/dora/miniconda3/lib/python3.6/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [53]:
# convert all string to lower case so it doesnt impact 'unique' results

strcols = ['benchmark', 'mheat', 'modes']
df[strcols] = df[strcols].apply(lambda x: x.str.lower())
df.head()

/Users/dora/miniconda3/lib/python3.6/site-packages/pandas/core/frame.py:3140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

,add1,add2,add3,pcode,insp_date,benchmark,mheat,tfa,hcons,hcons_typ,econs,econs_typ,renew_thermalfuel,renew_elec,yr1_elecco2,modes,localauth
0,NaN,London Metropolitan University,100 Minories,EC3N 1JY,2010-07-30,university campus,natural gas,5729.00,171.0,251.0,91.0,90.0,0.0,0.0,342.0,mixed-mode with natural ventilation,City of London
1,DOMINION HOUSE AND 48-53 BARTS CLOSE,Barts and The London NHS Trust,St. Bartholomew's Hospital,EC1A 7BE,2010-09-22,hospital - clinical and research,natural gas,6385.00,1648.0,417.0,106.0,90.0,0.0,0.0,1310.0,mixed-mode with natural ventilation,City of London
2,"OUTPATIENTS, ROBIN BROOK CENTRE AND HORDER WING",Barts and The London NHS Trust,St. Bartholomew's Hospital,EC1A 7BE,2010-09-22,clinic,natural gas,15007.31,750.0,199.0,152.0,70.0,0.0,0.0,NaN,heating and natural ventilation,City of London
3,KENTON AND LUCAS WING,Barts and The London NHS Trust,St. Bartholomew's Hospital,EC1A 7BE,2010-09-22,hospital - clinical and research,natural gas,7484.12,375.0,308.0,76.0,80.0,0.0,0.0,768.0,mixed-mode with mechanical ventilation,City of London
5,NaN,The Royal Courts of Justice,St. Dunstans House,EC4A 1HD,2010-12-21,general office,oil,4961.00,165.0,119.0,73.0,95.0,0.0,0.0,223.0,air conditioning,City of London

In [54]:
df.modes.unique()

array(['mixed-mode with natural ventilation',
       'heating and natural ventilation',
       'mixed-mode with mechanical ventilation', 'air conditioning',
       'heating and mechanical ventilation', 'natural ventilation only',
       'mechanical ventilation only'], dtype=object)

In [55]:
# convert modes to 4 columns: heating, mixed mode, natural ventilation, mech vent
import numpy as np

df['natvent'] = np.where(df.modes.str.contains('natural'), 1, 0)
df['mechvent'] = np.where(df.modes.str.contains('mechanical'), 1, 0)
df['mmode'] = np.where(df.modes.str.contains('mixed'), 1, 0)
df['heating'] = np.where(df.modes.str.contains('heating'), 1, 0)
df['ac'] = np.where(df.modes.str.contains('air'), 1, 0)

df.head()

/Users/dora/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/dora/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/dora/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/dora/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/Users/dora/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,add1,add2,add3,pcode,insp_date,benchmark,mheat,tfa,hcons,hcons_typ,...,renew_thermalfuel,renew_elec,yr1_elecco2,modes,localauth,natvent,mechvent,mmode,heating,ac
0,NaN,London Metropolitan University,100 Minories,EC3N 1JY,2010-07-30,university campus,natural gas,5729.00,171.0,251.0,...,0.0,0.0,342.0,mixed-mode with natural ventilation,City of London,1,0,1,0,0
1,DOMINION HOUSE AND 48-53 BARTS CLOSE,Barts and The London NHS Trust,St. Bartholomew's Hospital,EC1A 7BE,2010-09-22,hospital - clinical and research,natural gas,6385.00,1648.0,417.0,...,0.0,0.0,1310.0,mixed-mode with natural ventilation,City of London,1,0,1,0,0
2,"OUTPATIENTS, ROBIN BROOK CENTRE AND HORDER WING",Barts and The London NHS Trust,St. Bartholomew's Hospital,EC1A 7BE,2010-09-22,clinic,natural gas,15007.31,750.0,199.0,...,0.0,0.0,NaN,heating and natural ventilation,City of London,1,0,0,1,0
3,KENTON AND LUCAS WING,Barts and The London NHS Trust,St. Bartholomew's Hospital,EC1A 7BE,2010-09-22,hospital - clinical and research,natural gas,7484.12,375.0,308.0,...,0.0,0.0,768.0,mixed-mode with mechanical ventilation,City of London,0,1,1,0,0
5,NaN,The Royal Courts of Justice,St. Dunstans House,EC4A 1HD,2010-12-21,general office,oil,4961.00,165.0,119.0,...,0.0,0.0,223.0,air conditioning,City of London,0,0,0,0,1

In [56]:
modes = df.modes.unique()

df[df.modes == modes[0]].head()

,add1,add2,add3,pcode,insp_date,benchmark,mheat,tfa,hcons,hcons_typ,...,renew_thermalfuel,renew_elec,yr1_elecco2,modes,localauth,natvent,mechvent,mmode,heating,ac
0,NaN,London Metropolitan University,100 Minories,EC3N 1JY,2010-07-30,university campus,natural gas,5729.00,171.0,251.0,...,0.0,0.0,342.0,mixed-mode with natural ventilation,City of London,1,0,1,0,0
1,DOMINION HOUSE AND 48-53 BARTS CLOSE,Barts and The London NHS Trust,St. Bartholomew's Hospital,EC1A 7BE,2010-09-22,hospital - clinical and research,natural gas,6385.00,1648.0,417.0,...,0.0,0.0,1310.0,mixed-mode with natural ventilation,City of London,1,0,1,0,0
11,KING GEORGE V BLOCK,Barts and The London NHS Trust,St. Bartholomew's Hospital,EC1A 7BE,2011-11-12,hospital - clinical and research,natural gas,4964.37,296.0,407.0,...,0.0,0.0,1286.0,mixed-mode with natural ventilation,City of London,1,0,1,0,0
12,51-53 BARTS CLOSE ST BARTHOLOMEW'S HOSPITAL,Barts and The London NHS Trust,St. Bartholomew's Hospital,EC1A 7BE,2011-11-18,hospital - clinical and research,natural gas,1680.95,NaN,NaN,...,NaN,NaN,NaN,mixed-mode with natural ventilation,City of London,1,0,1,0,0
29,LITTLE BRITAIN,Barts and The London NHS Trust,St. Bartholomew's Hospital,EC1A 7BE,2013-11-12,general office,natural gas,4837.00,269.0,124.0,...,0.0,0.0,8.0,mixed-mode with natural ventilation,City of London,1,0,1,0,0

In [57]:
# convert heating fuel col but remove (single) nan row first

df = df[df.mheat.notnull()]


fuel = df.mheat.unique()
# df[df.mheat.isnull()].head()
fuel

array(['natural gas', 'oil', 'district heating',
       'grid supplied electricity', 'biomass', 'lpg', 'other'],
      dtype=object)

In [58]:
#create dummy variable columns for fuel types and add to right of dataframe
mheat_dummies = pd.get_dummies(df.mheat)

# axis=1 indicate columns
df = pd.concat([df, mheat_dummies], axis=1)
df.head()

,add1,add2,add3,pcode,insp_date,benchmark,mheat,tfa,hcons,hcons_typ,...,mmode,heating,ac,biomass,district heating,grid supplied electricity,lpg,natural gas,oil,other
0,NaN,London Metropolitan University,100 Minories,EC3N 1JY,2010-07-30,university campus,natural gas,5729.00,171.0,251.0,...,1,0,0,0,0,0,0,1,0,0
1,DOMINION HOUSE AND 48-53 BARTS CLOSE,Barts and The London NHS Trust,St. Bartholomew's Hospital,EC1A 7BE,2010-09-22,hospital - clinical and research,natural gas,6385.00,1648.0,417.0,...,1,0,0,0,0,0,0,1,0,0
2,"OUTPATIENTS, ROBIN BROOK CENTRE AND HORDER WING",Barts and The London NHS Trust,St. Bartholomew's Hospital,EC1A 7BE,2010-09-22,clinic,natural gas,15007.31,750.0,199.0,...,0,1,0,0,0,0,0,1,0,0
3,KENTON AND LUCAS WING,Barts and The London NHS Trust,St. Bartholomew's Hospital,EC1A 7BE,2010-09-22,hospital - clinical and research,natural gas,7484.12,375.0,308.0,...,1,0,0,0,0,0,0,1,0,0
5,NaN,The Royal Courts of Justice,St. Dunstans House,EC4A 1HD,2010-12-21,general office,oil,4961.00,165.0,119.0,...,0,0,1,0,0,0,0,0,1,0

In [59]:
#create dummy variable columns for benchmarks and add to right of dataframe

df = pd.concat([df, pd.get_dummies(df.benchmark)], axis=1)
df.head()

,add1,add2,add3,pcode,insp_date,benchmark,mheat,tfa,hcons,hcons_typ,...,laboratory or operating theatre,long term residential,public buildings with light usage,public waiting or circulation,restaurant,schools and seasonal public buildings,storage facility,swimming pool centre,university campus,workshop
0,NaN,London Metropolitan University,100 Minories,EC3N 1JY,2010-07-30,university campus,natural gas,5729.00,171.0,251.0,...,0,0,0,0,0,0,0,0,1,0
1,DOMINION HOUSE AND 48-53 BARTS CLOSE,Barts and The London NHS Trust,St. Bartholomew's Hospital,EC1A 7BE,2010-09-22,hospital - clinical and research,natural gas,6385.00,1648.0,417.0,...,0,0,0,0,0,0,0,0,0,0
2,"OUTPATIENTS, ROBIN BROOK CENTRE AND HORDER WING",Barts and The London NHS Trust,St. Bartholomew's Hospital,EC1A 7BE,2010-09-22,clinic,natural gas,15007.31,750.0,199.0,...,0,0,0,0,0,0,0,0,0,0
3,KENTON AND LUCAS WING,Barts and The London NHS Trust,St. Bartholomew's Hospital,EC1A 7BE,2010-09-22,hospital - clinical and research,natural gas,7484.12,375.0,308.0,...,0,0,0,0,0,0,0,0,0,0
5,NaN,The Royal Courts of Justice,St. Dunstans House,EC4A 1HD,2010-12-21,general office,oil,4961.00,165.0,119.0,...,0,0,0,0,0,0,0,0,0,0

In [60]:
df.columns

Index(['add1', 'add2', 'add3', 'pcode', 'insp_date', 'benchmark', 'mheat',
       'tfa', 'hcons', 'hcons_typ', 'econs', 'econs_typ', 'renew_thermalfuel',
       'renew_elec', 'yr1_elecco2', 'modes', 'localauth', 'natvent',
       'mechvent', 'mmode', 'heating', 'ac', 'biomass', 'district heating',
       'grid supplied electricity', 'lpg', 'natural gas', 'oil', 'other',
       'bar, pub or licensed club', 'clinic', 'cultural activities',
       'dry sports and leisure facility', 'emergency services',
       'entertainment halls', 'fitness and health centre',
       'general accommodation', 'general office', 'general retail',
       'high street agency', 'hospital - clinical and research', 'hotel',
       'laboratory or operating theatre', 'long term residential',
       'public buildings with light usage', 'public waiting or circulation',
       'restaurant', 'schools and seasonal public buildings',
       'storage facility', 'swimming pool centre', 'university campus',
       'workshop'],
      dtype='object')

In [63]:
# select columns for NN model

NNcols_hcons = ['econs',
                'econs_typ',
                'hcons',
                'hcons_typ',
                'tfa',
                'natvent', 'mechvent', 'mmode', 'heating', 'ac',
                'biomass', 'district heating', 'grid supplied electricity', 'lpg', 'natural gas',
                'oil', 'other',
                'bar, pub or licensed club', 'clinic', 'cultural activities',
                'dry sports and leisure facility', 'emergency services',
                'entertainment halls', 'fitness and health centre',
                'general accommodation', 'general office', 'general retail',
                'high street agency', 'hospital - clinical and research', 'hotel',
                'laboratory or operating theatre', 'long term residential',
                'public buildings with light usage', 'public waiting or circulation',
                'restaurant', 'schools and seasonal public buildings',
                'storage facility', 'swimming pool centre', 'university campus',
                'workshop'] #'covered car park', 


dfNN = df[NNcols_hcons]
len(dfNN.columns)

40

In [64]:
dfNN.head()

,econs,econs_typ,hcons,hcons_typ,tfa,natvent,mechvent,mmode,heating,ac,...,laboratory or operating theatre,long term residential,public buildings with light usage,public waiting or circulation,restaurant,schools and seasonal public buildings,storage facility,swimming pool centre,university campus,workshop
0,91.0,90.0,171.0,251.0,5729.00,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
1,106.0,90.0,1648.0,417.0,6385.00,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,152.0,70.0,750.0,199.0,15007.31,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,76.0,80.0,375.0,308.0,7484.12,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5,73.0,95.0,165.0,119.0,4961.00,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [72]:
# d = dfNN_hcons[dfNN_hcons.econs == 0]
d = dfNN[dfNN['schools and seasonal public buildings'] == 1]
d = d[['econs',
   'econs_typ',
   'hcons',
   'hcons_typ',
   'tfa',
   'natvent',
   'mechvent',
   'mmode',
   'heating',
   'ac',
   'biomass',
   'district heating',
   'grid supplied electricity',
   'lpg',
   'natural gas',
   'oil',
   'other']]

d.dropna(subset=['econs', 'hcons'], inplace=True)

In [73]:
d.econs.describe()

count    3063.000000
mean       56.401894
std        34.493755
min         1.000000
25%        42.000000
50%        52.000000
75%        66.000000
max      1386.000000
Name: econs, dtype: float64

In [74]:
d[d.econs == 1]

,econs,econs_typ,hcons,hcons_typ,tfa,natvent,mechvent,mmode,heating,ac,biomass,district heating,grid supplied electricity,lpg,natural gas,oil,other
2667,1.0,40.0,163.0,133.0,2715.5,1,0,0,1,0,0,0,0,0,1,0,0
3395,1.0,40.0,87.0,132.0,2490.0,1,0,0,1,0,0,0,0,0,1,0,0
4021,1.0,40.0,212.0,147.0,2873.0,1,0,0,1,0,0,0,0,0,1,0,0

In [75]:
# convert dataframe to numpy array for NN

dataset = d.values

In [76]:
dataset

array([[1.110e+02, 4.000e+01, 3.300e+01, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [5.600e+01, 5.400e+01, 1.340e+02, ..., 1.000e+00, 0.000e+00,
        0.000e+00],
       [8.000e+01, 5.600e+01, 1.183e+03, ..., 1.000e+00, 0.000e+00,
        0.000e+00],
       ...,
       [5.800e+01, 4.000e+01, 1.270e+02, ..., 1.000e+00, 0.000e+00,
        0.000e+00],
       [7.400e+01, 4.000e+01, 1.480e+02, ..., 1.000e+00, 0.000e+00,
        0.000e+00],
       [7.100e+01, 4.000e+01, 1.570e+02, ..., 1.000e+00, 0.000e+00,
        0.000e+00]])

In [77]:

ncols = 4
X = dataset[:, 0:ncols]
Y = dataset[:, ncols]

In [78]:
from sklearn import preprocessing

min_max_scaler = preprocessing.MinMaxScaler()
X_scale = min_max_scaler.fit_transform(X)
X_scale

array([[0.07942238, 0.03703704, 0.02707276, 0.09243697],
       [0.03971119, 0.2962963 , 0.11252115, 0.18067227],
       [0.05703971, 0.33333333, 1.        , 0.40336134],
       ...,
       [0.04115523, 0.03703704, 0.10659898, 0.12605042],
       [0.05270758, 0.03703704, 0.12436548, 0.12605042],
       [0.05054152, 0.03703704, 0.1319797 , 0.09663866]])

In [79]:
from sklearn.model_selection import train_test_split

X_train, X_val_and_test, Y_train, Y_val_and_test = train_test_split(X_scale, Y, test_size=0.3)
X_val, X_test, Y_val, Y_test = train_test_split(X_val_and_test, Y_val_and_test, test_size=0.5)

print(X_train.shape, X_val.shape, X_test.shape, Y_train.shape, Y_val.shape, Y_test.shape)

(2144, 4) (459, 4) (460, 4) (2144,) (459,) (460,)

In [ ]:
# n_samples = dfNN.shape[0]

# train_x = dfNN.iloc[:, :11].values
# train_y = dfNN.iloc[:, 11].values

# training_epochs = 1000
# learning_rate = 0.03
# n_input = 11
# n_classes = 1
# display_step = 10

# X = tf.placeholder(shape=[None, n_input], dtype=tf.float32)
# Y = tf.placeholder(shape=[None], dtype=tf.float32)

# # Weights and Biases.
# W = tf.Variable(tf.truncated_normal([n_input, n_classes]))
# b = tf.Variable(np.random.randn())

# # Construct Linear Model.
# prediction = tf.matmul(X, W) + b
# loss = tf.reduce_sum(tf.pow(prediction - Y, 2))/(2 * n_samples)
# optimizer = tf.train.GradientDescentOptimizer(learning_rate).minimize(loss)

# with tf.Session() as sess:
#     sess.run(tf.global_variables_initializer())
#     for step in range(1, training_epochs + 1):
#         sess.run(optimizer, feed_dict = {X: train_x,
#                                          Y: train_y})
#         if step % display_step == 0 or step == 1:
#             cost, x, y = sess.run([loss, W, b], feed_dict = {X: train_x,
#                                                              Y: train_y})
#             print (x)
#             print (y)
#             print ('Step ' + str(step) + ', Minibatch Loss = ' + \
#                    '{:.4f}'.format(cost))
#     print ('Training Done!!!')

In [80]:
from keras.models import Sequential
from keras.layers import Dense

model = Sequential([
    Dense(32, activation='relu', input_shape=(ncols,)),
    Dense(32, activation='relu'),
    Dense(1, activation='sigmoid'),
])

ModuleNotFoundError: No module named 'keras'

In [ ]:
model.compile(optimizer='sgd',
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [ ]:
hist = model.fit(X_train, Y_train,
          batch_size=32, epochs=100,
          validation_data=(X_val, Y_val))

In [ ]:
# # Normalise inputs and outputs to 0,1

# from sklearn.preprocessing import MinMaxScaler

# # create 0,1 scaler model
# scaler = MinMaxScaler(feature_range=(0, 1))

# # fit scaler to data (compute min and max) 
# # then transform (scale according to range)
# scaled_train = scaler.fit_transform(dfNN_hcons)

# # first column is target output, note the adjustments to apply to predictions
# multiplied_by = scaler.scale_[0]
# add = scaler.min_[0]

# # store the scaling operants in a dataframe
# scaled_dftrain = pd.DataFrame(scaled_train, columns=dfNN_hcons.columns.values)

# scaled_dftrain.head()

In [ ]:
# #imports
# import tensorflow as tf
# from tensorflow import keras
# from keras import Sequential
# from keras.layers import Dense
# from keras import optimizers

# # # build Sequential NN model
# # model = Sequential()

# model = Sequential([
#     Dense(32, activation='relu', input_shape=(10,)),
#     Dense(32, activation='relu'),
#     Dense(1, activation='sigmoid'),
# ])

# # # add layers, first call adds 2. Choose activation as Relu function, 50 neurons
# # model.add(Dense(50, activation='relu'))

# # # subsequent call adds 1 layer
# # model.add(Dense(50, activation='relu'))

# # # final output layer must be 1 neuron if continuous output
# # model.add(Dense(1))

# # sgd = optimizers.SGD(lr=0.01, clipnorm=1.)

# # # compile model
# # model.compile(loss='mean_squared_error', optimizer='adam')

In [ ]:
# # set up input and output to train model
# outputcol = ['natvent'] #['hcons']
# dropcols = ['natural gas', 'oil', 'other', 'bar, pub or licensed club', 'clinic',
#        'covered car park', 'cultural activities',
#        'dry sports and leisure facility', 'emergency services',
#        'entertainment halls', 'fitness and health centre',
#        'general accommodation', 'general office', 'general retail',
#        'high street agency', 'hospital - clinical and research', 'hotel',
#        'laboratory or operating theatre', 'long term residential',
#        'public buildings with light usage', 'public waiting or circulation',
#        'restaurant', 'schools and seasonal public buildings',
#        'storage facility', 'swimming pool centre', 'university campus',
#        'workshop']


# scaled_dftrain = scaled_dftrain.drop(dropcols, axis=1)
# X = scaled_dftrain.drop(outputcol, axis=1).values
# Y = scaled_dftrain[outputcol].values

# # # split training and test sets
# # from sklearn.model_selection import train_test_split
# # x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.1676, random_state=42)

# # x_train = X
# # y_train = Y

# len(x_train)

In [ ]:
# # train model - size of data (5190 rows, batch size = 30 => epochs=173)

# # test = 10
# # batch = 10 #128
# # ep = round(len(x_train)/batch)
# # model.fit(
# #     x_train[test:],
# #     y_train[test:],
# #     epochs=50,
# #     shuffle=True,
# #     verbose=2
# # )

# X_train, X_val_and_test, Y_train, Y_val_and_test = train_test_split(X, Y, test_size=0.3)
# X_val, X_test, Y_val, Y_test = train_test_split(X_val_and_test, Y_val_and_test, test_size=0.5)

# hist = model.fit(X_train, Y_train,
#           batch_size=32, epochs=100,
#           validation_data=(X_val, Y_val))

In [ ]:
# make predictions

# prediction = model.predict(x_test[:1])
# y_0 = prediction[0][0]
# print('Prediction with scaling - {}',format(y_0))
# y_0 -= add
# y_0 /= multiplied_by
# print("Housing Price Prediction  - ${}".format(y_0))